{% if breadcrumbs %}
<nav aria-label="Breadcrumb list">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="https://example.com/dresses">
      <span itemprop="name">HOME</span></a>
      <meta itemprop="position" content="1" />
    </li>
  </ol>
</nav>
{% endif%}

