/* ========================================
  Text Size Utility
======================================== */
.u-text-xs {
  font-size: var(--font-size-x-small);
}

.u-text-xs {
  font-size: var(--font-size-small);
}

.u-text-base {
  font-size: var(--font-size-medium);
}

.u-text-lg {
  font-size: var(--font-size-large);
}

.u-text-xl {
  font-size: var(--font-size-x-large);
}

.u-text-2xl {
  font-size: var(--font-size-xx-large);
}
