@use "../../setting" as *;

/* ========================================
  Heading Component
======================================== */
.c-heading--lev1 {
  font-size: get-vw(28px);
  font-weight: bold;

  @include media-query(md) {
    font-size: get-rem(34px);
  }
}

.c-heading--lev2 {
  font-size: get-vw(24px);
  font-weight: bold;

  @include media-query(md) {
    font-size: get-rem(30px);
  }
}

.c-heading--lev3 {
  font-size: get-vw(16px);
  font-weight: bold;

  @include media-query(md) {
    font-size: get-rem(20px);
  }
}
