/* ========================================
  Color Variables
======================================== */
// Canvas Color Variables
// --------------------------------------------------
$color-canvas-primary: #fff;
$color-canvas-inverted: #202021;

// Brand Color Variables
// --------------------------------------------------
$color-brand-primary: #4da1ff;
$color-brand-secondary: #1675e1;
$color-brand-tertiary: #2e2e30;

// Text Color Variables
// --------------------------------------------------
$color-text-primary: #333;
$color-text-secondary: #aaa;
$color-text-tertiary: #ccc;
$color-text-inverted: #fff;
$color-text-link: #4da1ff;
$color-text-success: #00b533;
$color-text-warn: #ffb700;
$color-text-danger: #ff2600;

// UI Color Variables
// --------------------------------------------------
$color-ui-primary: #4da1ff;
$color-ui-secondary: #1675e1;
$color-ui-tertiary: #2e2e30;
$color-ui-success: #00b533;
$color-ui-warn: #ffb700;
$color-ui-danger: #ff2600;
