/* ========================================
  Color Variables
======================================== */
// Canvas Color Variables
// --------------------------------------------------
$color-canvas-primary: #fff;
$color-canvas-inverted: #333;

// Brand Color Variables
// --------------------------------------------------
$color-brand-primary: #ffa800;
$color-brand-secondary: #ffc635;
$color-brand-tertiary: #ff6b00;

// Text Color Variables
// --------------------------------------------------
$color-text-primary: #333;
$color-text-secondary: #ccc;
$color-text-tertiary: #ff6b00;
$color-text-inverted: #fff;
$color-text-link: #ff6b00;
$color-text-success: #00b533;
$color-text-warn: #ffb700;
$color-text-danger: #ff2600;

// UI Color Variables
// --------------------------------------------------
$color-ui-primary: #ff6b00;
$color-ui-secondary: #ffc635;
$color-ui-tertiary: #ffc635;
$color-ui-success: #00b533;
$color-ui-warn: #ffb700;
$color-ui-danger: #ff2600;
