/* ========================================
  Font Size Variables
======================================== */
// Font Size Variables
// ex: font-size: $font-size-primay;
// --------------------------------------------------
$font-size-x-small: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-x-large: 24px;
$font-size-xx-large: 28px;
