<!DOCTYPE html>
<html lang="{{ metadata.language }}">

<head>
  {% include 'sections/head' %}
</head>

<body>
  {% include 'sections/header' %}
  <main>
    {{ content }}
  </main>
  {% include 'sections/footer' %}
</body>

</html>
