<!DOCTYPE html>
<html lang="{{ metadata.language }}">
<head>
  {% include 'sections/head' %}
</head>
<body id="page-{{ pageId }}"">
  <div class="l-wrapper">
    {% include 'sections/header' %}
    <main class="l-main{% if breadcrumbs %}--no-mt{% endif %}">
    {% include 'snippets/breadcrumb' %}
    {{ content }}
    </main>
    {% include 'sections/footer' %}
  </div>
</body>
</html>
