/* ========================================
  Main Layout
======================================== */
.l-main {
  flex: 1;
  padding: 50px 20px 100px;
}

.l-main--no-mt {
  flex: 1;
  padding: 0 20px 100px;
}
