@use "../../setting" as *;

/* ========================================
  Card Project
======================================== */
.p-card__wrapper {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.p-card__item {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;

  @media (prefers-color-scheme: dark) {
    border: 1px solid var(--color-ui-tertiary);
    background-color: var(--color-ui-tertiary);
  }
}

.p-card__item-link-wrapper {
  margin-top: 10px;
}

.p-card__item-link {
  @include hover {
    opacity: 0.8;
  }

  color: var(--color-text-link);
  transition: 0.2s opacity;
}
