@use "../../setting" as *;

/* ========================================
  Footer Project
======================================== */
.p-footer {
  background-color: var(--color-brand-tertiary);
  color: var(--color-text-inverted);
}

.p-footer__copyright {
  text-align: center;
}
