@use "../../setting" as *;

/* ========================================
  Heading Project
======================================== */
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.p-heading--main-title {
  @include media-query(md) {
    font-size: get-rem(68px);
  }

  text-align: center;
  font-weight: 500;
  color: var(--color-brand-primary);
}

.p-heading--main-subtitle {
  @include media-query(md) {
    font-size: get-rem(24px);
  }

  margin-top: 20px;
  text-align: center;
  font-size: get-vw(16px);
}

.p-heading--typed-animation {
  @include media-query(md) {
    width: 11ch;
    font-size: get-rem(68px);
  }

  overflow: hidden;
  width: 10ch;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 2px;
  font-size: get-vw(40px);
  font-weight: 500;
  line-height: 1;
  border-right: 5px solid var(--color-brand-primary);
  color: var(--color-brand-primary);
  animation: typing 3s steps(18), blink 0.4s step-end infinite alternate;
}
