@use "../../setting" as *;

/* ========================================
  Icon Project
======================================== */
.p-icon {
  svg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -0.1em;
  }
}

.p-icon--before-text {
  margin-left: 0.1em;

  svg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -0.1em;
  }
}

.p-icon--after-text {
  margin-right: 0.1em;

  svg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -0.1em;
  }
}
