---
layout: layout/theme.liquid
title: 404 Pge Not Found
description: Sorry! we could't find that page.
permalink: 404.html
pagePath: 404.html
pageId: 404
---
<div class="l-container">
  <div class="error-404__title">
    <span class="error-404__title-text">4</span>
    <svg class="icon" role="img" width="1em" height="1em">
      <use xlink:href="/assets/svg-sprite/svg-sprite.svg#warter-drop"></use>
    </svg>
    <span class="error-404__title-text">4</span>
  </div>
  <h1 class="c-heading--lev1 u-text-center">There’s no page at this address.</h1>
  <p class="u-text-center u-mt-20 u-text-lg">Click the button below to go back to the homepage.</p>

  <div class="p-btn__wrapper u-mt-30">
    <a href="/" class="p-btn--sub-primary">
      Go to Home
    </a>
   </div>
</div>

