---
layout: layout/theme.liquid
title: Learn more about features
description: Getting Started with SWL, and learn more about all features.
pagePath: docs/
pageId: docs
---
<div class="l-container">
  <h1 class="c-heading--lev1">📖 {{ title }}.</h1>
  <p>Welcome to the Pure Liquid documentation!</p>
  <section class="u-mt-30">

  </section>
</div>
