---
layout: layout/theme.liquid
pageId: top
---
<div class="l-container">
 <h1 class="p-heading--typed-animation">{{ metadata.title }}</h1>
 <p class="p-heading--main-subtitle">{{ metadata.description }}</p>

 <div class="p-btn__wrapper u-mt-30">
  <a href="https://dev.to/tim_yone/pure-liquid-a-starter-kit-for-static-websites-and-jamstack-with-liquid-template-2bkk" class="p-btn--primary" target="_blank" rel="noopener">
    Get Started
  </a>
  <a href="/docs/" class="p-btn--sub-primary">Take Tutorial</a>
 </div>

 <section class="u-mt-60">
  <h2 class="c-heading--lev2 u-text-center">Starter Features</h2>
  <div class="p-card__wrapper u-mt-20">
    <!-- Card Item -->
    <div class="p-card__item">
      <h3 class="c-heading--lev3">Static site generator</h3>
      <p class="p-card__item-text">Generate pages at build time with Eleventy, a simple static site generator.  It helps us create pages from third-party data too.</p>
      <div class="p-card__item-link-wrapper">
        <a href="https://www.11ty.dev/" target="_blank" rel="noopener" class="p-card__item-link">
          Eleventy
          <span class="p-icon--before-text">
            <svg class="icon" role="img" width="1em" height="1em">
              <use xlink:href="/assets/svg-sprite/svg-sprite.svg#external"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <!--// Card Item -->
    <!-- Card Item -->
    <div class="p-card__item">
      <h3 class="c-heading--lev3">Liquid templates</h3>
      <p class="p-card__item-text">Mark up HTML efficiently with Liquid.  All filters and tags from Ruby shopify/liquid are supported by LiquidJS.</p>
      <div class="p-card__item-link-wrapper">
        <a href="https://liquidjs.com/index.html" target="_blank" rel="noopener" class="p-card__item-link">
         LiquidJS
          <span class="p-icon--before-text">
            <svg class="icon" role="img" width="1em" height="1em">
              <use xlink:href="/assets/svg-sprite/svg-sprite.svg#external"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <!--// Card Item -->
    <!-- Card Item -->
    <div class="p-card__item">
      <h3 class="c-heading--lev3">Easily compress images</h3>
      <p class="p-card__item-text">It's easy to compress images with a useful command. The automation task supports converting Webp format too.</p>
      <div class="p-card__item-link-wrapper">
        <a href="https://github.com/Kazuki-tam/pure-liquid" target="_blank" rel="noopener" class="p-card__item-link">
          Image compression
          <span class="p-icon--before-text">
            <svg class="icon" role="img" width="1em" height="1em">
              <use xlink:href="/assets/svg-sprite/svg-sprite.svg#external"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <!--// Card Item -->
    <!-- Card Item -->
    <div class="p-card__item">
      <h3 class="c-heading--lev3">Built-in lint support</h3>
      <p class="p-card__item-text">Lint commands support linting and validating your project code like  SCSS, CSS, TypeScript, JavaScript, and HTML.</p>
      <div class="p-card__item-link-wrapper">
        <a href="https://github.com/Kazuki-tam/pure-liquid#available-commands" target="_blank" rel="noopener" class="p-card__item-link">
          Lint commands
          <span class="p-icon--before-text">
            <svg class="icon" role="img" width="1em" height="1em">
              <use xlink:href="/assets/svg-sprite/svg-sprite.svg#external"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <!--// Card Item -->
    <!-- Card Item -->
    <div class="p-card__item">
      <h3 class="c-heading--lev3">Test runner</h3>
      <p class="p-card__item-text">Jest and Playwright are built-in. These test runners help you find errors and bugs.</p>
      <div class="p-card__item-link-wrapper">
        <a href="https://github.com/Kazuki-tam/pure-liquid#jest" target="_blank" rel="noopener" class="p-card__item-link">
          Test runner
          <span class="p-icon--before-text">
            <svg class="icon" role="img" width="1em" height="1em">
              <use xlink:href="/assets/svg-sprite/svg-sprite.svg#external"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <!--// Card Item -->
    <!-- Card Item -->
    <div class="p-card__item">
      <h3 class="c-heading--lev3">Icon management</h3>
      <p class="p-card__item-text">SVG sprite makes you manage icons in your project easily.</p>
      <div class="p-card__item-link-wrapper">
        <a href="https://github.com/Kazuki-tam/pure-liquid#svg-sprites" target="_blank" rel="noopener" class="p-card__item-link">
          SVG sprite
          <span class="p-icon--before-text">
            <svg class="icon" role="img" width="1em" height="1em">
              <use xlink:href="/assets/svg-sprite/svg-sprite.svg#external"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <!--// Card Item -->
  </div>
 </section>
</div>

